---
import Layout from "../layouts/Layout.astro";
import Awards from "../components/Awards";
import Prime from "../components/Prime.astro";
import Lawyer from "../components/Lawyer";
import Testimonial from "../components/testomonials/Testimonial.astro";
import Divorce from "../components/Diworce";
import BottomAwards from "../components/BottomAwards.astro";
import { AwardsData, ContactData } from "../types";
import Why from "../components/why/Why";
import Cases from "../components/cases/Cases.astro";
import CallUs from "../components/callus/CallUs.astro";
import Contacts from "../components/contacts/Contacts.astro";
import Footer from "../components/footer/Footer.astro";
import Burger from "../components/Burger";
const response = await fetch(
  "https://sheltered-river-97651.herokuapp.com/api/awards"
);
const awards_data = (await response.json()) as AwardsData;
const data = awards_data.data;
const x = data.map((item) => item.attributes);
const menu = [
  { id: 1, slug: "/", title: "Witam" },
  { id: 2, slug: "o-nas", title: "O nas" },
];
const cards = [
  {
    src: "https://res.cloudinary.com/du9w3xgvx/image/upload/v1665675410/25_chqo4a.png",
    text: "Prowadzenie spraw z zakresu prawa rodzinnego powyżej 25 lat",
  },
  {
    src: "https://res.cloudinary.com/du9w3xgvx/image/upload/v1665675410/person_tdxxke.png",
    text: "Stała komunikacja z Tobą przez cały proces rozwodu",
  },
  {
    src: "https://res.cloudinary.com/du9w3xgvx/image/upload/v1665675410/maze_guhtnv.png",
    text: "Doświadczenie ze złożonymi kwestiami opieki i rozwodami o wysokim poziomie konfliktów",
  },
  {
    src: "https://res.cloudinary.com/du9w3xgvx/image/upload/v1665675410/gavel_lykgwg.png",
    text: "Znajomość lokalnych sądów rodzinnych ",
  },
  {
    src: "https://res.cloudinary.com/du9w3xgvx/image/upload/v1665675410/trophy_h3op8x.png",
    text: "Wykwalifikowana reprezentacja mająca na celu poprawę Twojej pozycji i ograniczenie sporów pod czas rozwodu",
  },
  {
    src: "https://res.cloudinary.com/du9w3xgvx/image/upload/v1665675410/megaphone_nsy7lu.png",
    text: "Wielokrotnie nagradzani prawnicy gotowi do wszczęcia postępowania sądowegopod czas rozwodu",
  },
];
const response_contact = await fetch(
  "https://sheltered-river-97651.herokuapp.com/api/contact"
);
const contact_data = (await response_contact.json()) as ContactData;
const { number_phone, visible_phone } = contact_data.data.attributes;
---

<Layout title='Prawnik ds. rozwodów w Gdańsku | Bezpłatne konsultacje '>
  <Burger links={menu} client:visible />
  <Prime />
  <Awards images={x} client:visible />
  <Lawyer
    client:visible
    image_src='https://res.cloudinary.com/zielona-g-ra/image/upload/v1665553138/attorney_owcg1l.webp'
    image_alt='lawyer'
  />
  <Testimonial />
  <Why cards={cards} client:visible />
  <Divorce
    client:visible
    image_src='https://res.cloudinary.com/zielona-g-ra/image/upload/v1665732310/family_eitlg7.jpg'
    image_alt='famaly'
  />
  <BottomAwards />
  <Cases />
  <CallUs />
  <div
    class='px-5 lg:px-10 py-5 lg:py-24 bg-yellow-500 text-white text-xl xl:text-[60px] tracking-[8px] lg:leading-[70px] mb-10 lg:mb-0'
  >
    <div class='uppercase text-center'>
      Telefon do kontaktu przy rozwodzie: <a
        class=''
        href={`tel:${number_phone}`}>{visible_phone}</a
      >
    </div>
  </div>

  <Contacts />
  <Footer />
</Layout>

<style></style>
