---
// import Layout from "../../layouts/Layout.astro";
// import Burger from "../../components/Burger";
// import Second from "../../components/Second.astro";
// import AboutUs from "../../components/AboutUs.astro";
// import Onas from "../../components/onas/Onas";
// import Contacts from "../../components/contacts/Contacts.astro";
// import Footer from "../../components/footer/Footer.astro";
// import { AboutData } from "../../types";
// import { blog } from "../../content/blog";

// const pathname = new URL(Astro.request.url).pathname;
// const currentPath = pathname.slice(1);

// const resAbout = await fetch(
//   "https://sheltered-river-97651.herokuapp.com/api/about"
// );
// const about: AboutData = await resAbout.json();
---

<!-- <Layout
  title='Prawnik ds. rozwodów w Gdańsku | O nas'
  description='Zadzwoń do adwokata rozwodowego i jego zespół ma ponad 25-letnie doświadczenie. Bezpłatna konsultacja pod numerem 123-456-789'
>
  <Burger links={menu} url_cuted_param={currentPath} client:load />
  <Second />

  <ul
    class='grid grid-cols-2 gap-x-10 gap-y-10 w-8/12 mx-auto py-24 items-center justify-center'
  >
    {
      blog.map((item, index) => {
        const short = [...item.content].slice(0, 200).join("") + "...";
        return (
          <>
            <li class={`${index === 0 ? "col-span-full" : ""}`}>
              <img src={item.image} />
              <div class='mt-2'>
                <a
                  href={`/blog/${item.slug}/`}
                  class='uppercase cursor-pointer'
                >
                  <h3>{item.title}</h3>
                </a>
                <div class='mt-2'>{short}</div>
                <a
                  href={`/blog/${item.slug}/`}
                  class='uppercase cursor-pointer'
                >
                  <div class='mt-8 text-blue-300 hover:text-blue-700'>
                    Czytaj dalej
                  </div>
                </a>
              </div>
            </li>
          </>
        );
      })
    }
  </ul>
  <Contacts />
  <Footer />
</Layout> -->
