---
import { PrimeData, ContactData } from "../types";
const response = await fetch(
  "https://sheltered-river-97651.herokuapp.com/api/prime"
);
const awards_data = (await response.json()) as PrimeData;
const { title, subtitle, button } = awards_data.data.attributes;

const response_contact = await fetch(
  "https://sheltered-river-97651.herokuapp.com/api/contact"
);
const contact_data = (await response_contact.json()) as ContactData;
const { number_phone, visible_phone } = contact_data.data.attributes;
---

<div class='prime'>
  <div
    class='absolute lg:top-10 left-0 right-0 flex gap-x-4 xl:gap-x-0 xl:justify-between items-center xl:h-[180px] pr-[90px] xl:pr-[300px] pl-4 xl:pl-10'
  >
    <a href='/' title='Strona domowa'
      ><img src='/logo.svg' alt='logo' class='w-[100px] lg:w-[400px]' />
    </a>
    <div class='flex flex-col lg:text-[5vh] text-white my-stroke'>
      <div class='uppercase'>Telefon do kontaktu:</div>

      <a class='' href={`tel:${number_phone}`}>{visible_phone}</a>
    </div>
  </div>

  <div
    class='absolute top-[60vh] lg:top-[35vh] lg:left-[5vw] lg:max-w-[50%] flex flex-col justify-center text-white my-stroke'
  >
    <div
      class='text-center text-xl lg:text-[7vh] tracking-widest lg:leading-[9vh] mb-5 lg:mb-10'
    >
      {title}
    </div>
    <h2
      class='text-center text-lg xl:text-[3vh] mb-5 lg:mb-10 xl:mb-20 uppercase'
    >
      {subtitle}
    </h2>
    <a
      href='#myform'
      class='text-center uppercase xl:text-[3vh] py-2 lg:py-6 lg:px-10 bg-[#042748] hover:bg-[#037e78] cursor-pointer max-w-max mx-6 lg:mx-auto lg:tracking-[4px] xl:mx-0'
      >{button}</a
    >
  </div>
</div>

<style>
  .prime {
    height: 100vh;
    background: url(/hero-lg.webp) no-repeat top/ cover;
  }

  @media (max-width: 767px) {
    .prime {
      height: 700px;
      background: url(/hero-mini.webp) no-repeat bottom / cover;
    }
  }
</style>
