---
//
import { CaseData, IBlogData, ContactData } from "../../types";
const response_blog = await fetch(
  "https://sheltered-river-97651.herokuapp.com/api/lawyer-posts"
);
const data_blog = (await response_blog.json()) as IBlogData;
const blog = data_blog.data;
const response_cases = await fetch(
  "https://sheltered-river-97651.herokuapp.com/api/lawyer-cases"
);
const data_cases = (await response_cases.json()) as CaseData;
const cases = data_cases.data;
const response_contact = await fetch(
  "https://sheltered-river-97651.herokuapp.com/api/contact"
);
const contact_data = (await response_contact.json()) as ContactData;
const { number_phone, visible_phone } = contact_data.data.attributes;
---

<footer class='bg-slate-300'>
  <div class='bg-[#0e1c39] text-white'>
    <div
      class='flex flex-col gap-y-5 lg:gap-y-0 lg:flex-row w-11/12 lg:w-10/12 mx-auto py-5 justify-between gap-x-10'
    >
      <div>
        <a href='/'
          ><img src='/logo.svg' alt='logo' class='w-[100px] xl:w-[200px]' />
        </a>
      </div>
      <div>
        <section itemscope itemtype='http://schema.org/LegalService' class=''>
          <div itemprop='name' class=''>Kancelaria Sprawy Rodzinne</div>
          <span itemprop='description'>Adwokaci i Radcy Prawni</span>
          <p itemprop='address' class='mt-5'>
            Adres: ul. Stacha Świstackiego 15/10
          </p>
          <p class='mt-5'>Kod pocztowy: xx-xxx Gdańsk</p>
          <p class='mt-5'>
            Telefon: <a
              itemprop='telephone'
              class=''
              href={`tel:${number_phone}`}>{visible_phone}</a
            >
          </p>
          <p class='mt-5'>E-mail: biuro@kancelaria-xxx.pl</p>
        </section>
      </div>
      <div>
        <p class='uppercase'>ostatnie artykuły:</p>
        <ul>
          {
            blog.map(({ attributes }) => {
              return (
                <li>
                  <a
                    href={`/blog/${attributes.slug}/`}
                    class='lowercase cursor-pointer'
                  >
                    {attributes.title}
                  </a>
                </li>
              );
            })
          }
        </ul>
      </div>
      <div>
        <p class='uppercase'>zakres usług:</p>
        <ul>
          {
            cases.map(({ attributes }) => {
              return (
                <li class='lowercase'>
                  <a href={`/${attributes.slug}/`}>{attributes.title}</a>
                </li>
              );
            })
          }
        </ul>
      </div>
      <div>
        <p>Zobacz także:</p>
        <ul>
          <li>Prawnik rozwód Gdańsk – Żoliborz</li>
          <li>Prawnik rozwód Gdańsk – Wola</li>
          <li>Prawnik rozwód Gdańsk – Mokotów</li>
          <li>Prawnik rozwód Gdańsk – Ursynów</li>
          <li>Prawnik rozwód Gdańsk – Ochota</li>
          <li>Prawnik rozwód Gdańsk – Białołęka</li>
          <li>Prawnik rozwód Gdańsk – Praga południe</li>
        </ul>
      </div>
    </div>
  </div>
  <div class='text-black py-5 text-center'>
    COPYRIGHT 2022 | Created by Igor Rak
  </div>
</footer>
